*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
}
.logo{
    height: 100px;
    width: 200px;
}
.nav-item{
    margin-left: 300px;
}
#hero{
    background-image:url(images/hero.jpeg) ;
   background-repeat: no-repeat;
    background-size:cover ;
    height: 70vh;
}
#hero h1{
    color:rgb(40, 40, 94);
    padding-top: 100px;
    padding-left: 400px;
}

.hero-btn{
    margin-left: 500px;
    padding: 7px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 3px 4px blue;
}
.hero-btn:hover{
    transform: scale(1.2);
}
#about h1{
    padding:20px;
    margin: 20px;
}
h5{
    text-align: center;
}
#packages h1{
    padding: 20px;
    margin: 20px;
} 
.inline{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.contact{
    margin: 10px;
    padding: 10px;
}
.footer p a{
    color: black;
    text-decoration: none;
}