*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
}
.logo{
    height: 100px;
    width: 200px;
}
.nav-item{
    margin-left: 300px;
}
#hero{
    background-image:url(images/hero.jpeg) ;
   background-repeat: no-repeat;
    background-size:cover ;
    height: 70vh;
}
#hero h1{
    color:rgb(40, 40, 94);
    padding-top: 100px;
    padding-left: 400px;
    font-size: 3rem;
}
#hero .btn{
    margin-left: 400px;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 20px;
    background-color: rgb(40, 40, 94);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#about h1{
    padding:20px;
    margin: 20px;
}
h5{
    text-align: center;
}
#packages h1{
    padding: 20px;
    margin: 20px;
} 
.inline{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
#contact h2{
    margin: 20px;
    padding: 20px;
}
.footer p a{
    color: black;
    text-decoration: none;
}
.footer h3{
    margin: 20px;
    padding: 10px;
}
